@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Montserrat:wght@500&family=Montserrat+Subrayada:wght@700&display=swap");

html,
body {
  background: #1e1f1f;
  color: #1e1f1f;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img,
iframe {
  max-width: 100%;
}

/* Headings 
------------------------------ */

h2 {
  font-family: "Cardo", serif;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.3;
  margin: 0 auto 1rem;
  max-width: 40rem;
}

h5 {
  color: #8c8c8c;
  font-size: 0.8rem;
  line-height: 1.6;
}

h6 {
  color: #8c8c8c;
  font-size: 0.7rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.rainbow:hover {
  animation: rainbow 2s ease-in-out infinite;
  background: linear-gradient(to right, #e7a39f, #8cbcdc);
  background-clip: text;
  background-size: 200% 200%;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0);
}

@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

/* Header 
------------------------------ */

header {
  background: #fff;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 2%;
  position: fixed;
  width: 100%;
  z-index: 999;
}

header > * {
  flex: 1;
}

.nav-icon-wrap {
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.nav-icon,
.nav-icon::before,
.nav-icon::after {
  display: block;
  height: 3px;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 30px;
}

.nav-icon {
  background: #1e1f1f;
  top: 12px;
}

.nav-icon::before {
  background: #4d6c81;
  content: " ";
  top: -8px;
}

.nav-icon::after {
  background: #e7a39f;
  content: " ";
  top: 5px;
}

.nav-icon.opened {
  background: none;
}

.nav-icon.opened::before {
  transform: rotate(45deg) translate(5px, 8px);
}

.nav-icon.opened::after {
  transform: rotate(-45deg) translate(3px, -6px);
}

nav > ul {
  background: white;
  left: 0;
  list-style: none;
  min-height: 100vh;
  padding: 3rem 1rem;
  position: absolute;
  transition: all 0.5s ease-in-out;
  width: 300px;
}

nav > ul.navClosed {
  transform: translateX(-320px);
}

nav ul li a {
  display: inline-block;
  margin-bottom: 30px;
  padding: 3px 5px 3px 20px;
}

.active a {
  border-left: 2px solid black;
}

.logo {
  cursor: pointer;
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.logo-sub {
  display: block;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
}

/* main
------------------------------*/

main {
  padding: 4.5rem 3%;
}

.showcase {
  min-height: 80vh;
  padding: 8rem 2%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title {
  padding: 3rem 0 5rem;
  text-align: center;
}

/* Footer
------------------------------*/
footer {
  color: #8c8c8c;
  font-size: 0.7rem;
  letter-spacing: 0.2rem;
  padding: 4rem 2%;
  text-align: center;
  text-transform: uppercase;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* Media query
------------------------------*/
@media (min-width: 800px) {
  h2 {
    font-size: 2.4rem;
  }
}
